@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
*{
    margin:0;
    padding:0;
}

.overlay{
    z-index: 1000;
    position: fixed;
    top:0;left: 0;
    display: none;
    height: 100%;width: 100%;
    background-color: rgba(0,0,0,0.7);
}
.set,.remove{
    cursor:pointer;
    background-color:#FFFFC7;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 15px;
    border: 0.1rem solid black;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navbar */
.navbar{
    width:100vw;
    padding:0.5rem 0rem 0.5rem 0rem;
    display:flex;
    align-items: center;justify-content: space-between;
    height: 7.5vh;
    background-color: #db4a2b;
}
.menuicon{
    padding-left: 1rem;
    font-size: 2rem;
    color:white;
}
.logoimg{
    margin-top: 1rem;
    height:3.5rem;
    width:12rem;
    object-fit: cover;
}
.prof{
    padding-right: 1rem;
    color:white;
    font-size: 2.5rem;
}

.main{
    display: flex;
    flex-direction: column;
}

/* YGS */
.yGs{
    display:flex;
    flex-direction: column;
    height:42.5vh;
    background-color: #FFFFC7;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top:1rem;
    border-bottom: 3px solid black;
}
.ygshead{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    margin-bottom: 5vh;
}
.yearGoalsHead{
    font-weight:900;
}
.contentYGS{
    width:100vw;
    display: flex; 
    justify-content: space-around;
}
.content1YGS,.content2YGS{
    display:flex;
    flex-direction: column;
    gap:1.5vh;
    align-items:start;
}
/* YGS Forms */
.ygsSetForm,.mgsSetForm,.wgsSetForm{
    display: none;
    position:fixed;
    left:35vw;
    top:22vh;
    z-index:1100;
    height:58vh;
    width:25vw;
    border-radius: 5%;
    background-color: #FFFFC7;
    border:1px outset black;
    filter: brightness("100%");
    padding: 2rem 2rem 3rem 2rem;
}
.contentYGSF,.contentMGSF,.contentWGSF{
    display: flex;gap:4vh;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.txtArea{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.yButSet,.yButRem,.mButSet,.mButRem,.wButSet,.wButRem{
    width:15vw;
    height:5vh;
    background-color: #db4a2b;
    color:white;
    border-radius:3rem;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: large;
    border:1px outset white;
    filter:drop-shadow(100%);
    font-style: normal;
}
.ysetLab{
    margin-right: 1rem;
}
#yearselection{
    width:15vw;
}
.ygsRemForm,.mgsRemForm,.wgsRemForm{
    display: none;
    position:fixed;
    left:35vw;
    top:35vh;
    z-index:1100;
    height:20vh;
    width:25vw;
    border-radius: 5%;
    background-color: #FFFFC7;
    border:1px outset black;
    filter: brightness("100%");
    padding: 2rem 2rem 3rem 2rem;
}
.yremLab{
    margin-left:1vw;
}
#goalSelection{
    margin-left:1vw;
}


.bottom{
    display:flex;
    height: 45vh;
    background-color:#FFFFC7;
}

/* MGS */
.mGs{
    display:flex;
    flex-direction: column;
    width:33vw;
    border-right: 2px solid black;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    padding-top:1rem;
}
.mgsTop,.wgsTop{
    display:flex;
    align-items: flex-start;justify-content: space-around;
    width:33vw;
}
.contentMGS,.contentWGS{
    display:flex;gap:1.5vh;
    flex-direction: column;
    align-items: flex-start;
    height:35vh;
    width:29vw;
    margin:5vh 0 0 3vw;
}
.mgsSetForm{
    top:18vh;
    height:65vh;
}
.msetGLab,.ysetGLab{
    font-size:0.85rem;
    align-self:flex-start;
    margin-bottom:0;
}
.mgsRemForm{
    height:32vh;
}

/* WGS */
.wGs{
    display:flex;flex-direction: column;
    align-items: flex-start;justify-content: space-around;
    width:33vw;
    border-right: 2px solid black;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    padding-top:1rem;
}
.wgsSetForm{
    top:18vh;
    height:63vh;
}
.tGs{
    display:flex;
    align-items: flex-start;justify-content: space-around;
    text-align: center;
    width:33vw;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    padding-top:1rem;
}



